* {
	font-family: Helvetica Neue, Segoe UI, sans-serif;
}

button, input {
	margin: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

input[type="text"] {
	width: 300px;
}

:checked + input[type="text"] {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}